@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu{
    padding: 0;
    background-color: rgb(205, 205, 205);
    display: block;
}

#menu a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

#titulo{
    margin-top: 120px;
    
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#emotion{
    display: block;
    margin-left: auto;
    margin-right: auto 
    
}

#estudante{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -190px;
}

#aprendendo{
    font-size: x-large;
}

.texto-primario{
    background-color: rgb(205, 205, 205);
    padding: 100px;
    color: white;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px;
}

div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.habilidades{
    background-color: rgb(205, 205, 205);
    padding: 10px;
    color: white;
    margin-top: 0px;
}

#habilidades-titulo{
    color: red;
    background-color: white;
    padding: auto;
    margin-top: -20px;
    font-family: 'Open Sans', sans-serif;
}

#projetos-titulo{
    color: red;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

table{
    display: inline;

}

#index:hover{
    color: rgb(71, 127, 231);
}

#contato:hover{
    color: rgb(71, 127, 231);
}

#projetos:hover{
    color: rgb(71, 127, 231);
}

td{
    border: 1px solid black;
}

.tabela{
    background-color: rgb(205, 205, 205);
    display: block;
}

#linguagens{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;

}

#skills{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

footer{
    padding: 30px;
}

.footer{
    margin-right: 40px;
}

#recado{
    margin-top: 50px;
}

h3{
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;

}

#tabela-projetos{
    margin-top: 50px;
}

#black-jack{
    margin-top: 50px;
}

#bras{
    margin-top: 50px;
}

.projetos-texto{
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

.titulo-projeto{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}